header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 8px 0 8px 12px;
  margin-bottom: 10px;

  border-bottom: 1px solid rgb(170, 166, 166);
  box-shadow: 1px 1px 4px 1px rgb(170, 166, 166, 0.6);
  border-radius: 2px;
  background-color: rgb(218, 216, 216, 0.2);
}
.navLink {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;

  font-weight: 500;

  &:hover {
    scale: calc(1.1);
  }
}
